# uboot 工具
# CONFIG_PACKAGE_uboot-envtools=m

# usb 工具
CONFIG_PACKAGE_usbreset=m
CONFIG_PACKAGE_usbutils=m

# 磁盘设备
CONFIG_PACKAGE_badblocks=m
CONFIG_PACKAGE_blkid=m
CONFIG_PACKAGE_blockdev=m
CONFIG_PACKAGE_cfdisk=m
CONFIG_PACKAGE_cgdisk=m
CONFIG_PACKAGE_hdparm=m
CONFIG_PACKAGE_lsblk=m
CONFIG_PACKAGE_smartd=m
CONFIG_PACKAGE_smartmontools=m
