# 内网穿透
# CONFIG_PACKAGE_luci-app-zerotier=y

# 翻墙
# CONFIG_PACKAGE_luci-app-ssr-plus=m
# CONFIG_PACKAGE_luci-app-clash=m
# CONFIG_PACKAGE_luci-app-openclash=m
# CONFIG_PACKAGE_luci-app-passwall=m

# 下载工具
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-transmission=m

# samba4
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_samba4-admin=m
CONFIG_PACKAGE_samba4-client=m
CONFIG_PACKAGE_samba4-utils=m
CONFIG_PACKAGE_libpam=y

CONFIG_SAMBA4_SERVER_ACL=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_QUOTAS=y
CONFIG_SAMBA4_SERVER_VFS=y
