# 2. built
CONFIG_DEVEL=y

# 开启 ccache
CONFIG_CCACHE=y

# 编译配置文件到固件里
CONFIG_INCLUDE_CONFIG=y

# CONFIG_JSON_OVERVIEW_IMAGE_INFO=y

CONFIG_SIGNED_PACKAGES=y

# for exfat
CONFIG_BUILD_PATENTED=y


CONFIG_KERNEL_KEXEC=y
CONFIG_KEXEC_LZMA=y
CONFIG_KEXEC_ZLIB=y
CONFIG_PACKAGE_kexec=y
CONFIG_PACKAGE_kexec-tools=y


CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y


CONFIG_PACKAGE_kmod-sdhci=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y

#CONFIG_PACKAGE_blkid=m
#CONFIG_PACKAGE_hdparm=m
#CONFIG_PACKAGE_htop=m
#CONFIG_PACKAGE_lsblk=m
#CONFIG_PACKAGE_mmc-utils=y
#CONFIG_PACKAGE_nano=m
#CONFIG_PACKAGE_nano-full=m
#CONFIG_PACKAGE_nano-plus=m
#CONFIG_PACKAGE_tree=m
#CONFIG_PACKAGE_usbreset=m
#CONFIG_PACKAGE_usbutils=m
