# 内网穿透
CONFIG_PACKAGE_luci-app-zerotier=y

# 翻墙
# CONFIG_PACKAGE_luci-app-ssr-plus=m
# CONFIG_PACKAGE_luci-app-clash=m
CONFIG_PACKAGE_luci-app-openclash=m
# CONFIG_PACKAGE_luci-app-passwall=m

# 下载工具
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-baidupcs-web=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-transmission=m

# openssh
CONFIG_PACKAGE_openssh-client=m
CONFIG_PACKAGE_openssh-client-utils=m
CONFIG_PACKAGE_openssh-keygen=m
CONFIG_PACKAGE_openssh-moduli=m
CONFIG_PACKAGE_openssh-server=m
CONFIG_PACKAGE_openssh-server-pam=m
CONFIG_PACKAGE_openssh-sftp-avahi-service=m
CONFIG_PACKAGE_openssh-sftp-client=m
CONFIG_PACKAGE_openssh-sftp-server=m
CONFIG_PACKAGE_sshtunnel=m
CONFIG_PACKAGE_tmate=m

# samba/cifs
# CONFIG_PACKAGE_luci-app-cifsd=m

# CONFIG_PACKAGE_luci-app-ksmbd=m
# CONFIG_PACKAGE_ksmbd-avahi-service=m
# CONFIG_PACKAGE_ksmbd-utils=m

# samba4
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_samba4-admin=m
CONFIG_PACKAGE_samba4-client=m
CONFIG_PACKAGE_samba4-utils=m
CONFIG_PACKAGE_libpam=y

CONFIG_SAMBA4_SERVER_ACL=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_QUOTAS=y
CONFIG_SAMBA4_SERVER_VFS=y
