# CONFIG_PACKAGE_automount=m
# CONFIG_PACKAGE_autosamba=m
# CONFIG_PACKAGE_luci-app-adbyby-plus=m
# CONFIG_PACKAGE_luci-app-adguardhome=m
# CONFIG_PACKAGE_luci-app-arpbind=m
# CONFIG_PACKAGE_luci-app-autoreboot=m
# CONFIG_PACKAGE_luci-app-baidupcs-web=m
# CONFIG_PACKAGE_luci-app-cifs-mount=m
# CONFIG_PACKAGE_luci-app-diskman=m
# CONFIG_PACKAGE_luci-app-filetransfer=m
# CONFIG_PACKAGE_luci-app-mtwifi=m
# CONFIG_PACKAGE_luci-app-mwan3helper=m
# CONFIG_PACKAGE_luci-app-netdata=m
# CONFIG_PACKAGE_luci-app-nfs=m
# CONFIG_PACKAGE_luci-app-nps=m
# CONFIG_PACKAGE_luci-app-qbittorrent=m
# CONFIG_PACKAGE_luci-app-ssr-plus=m
# CONFIG_PACKAGE_luci-app-syncdial=m
# CONFIG_PACKAGE_luci-app-tcpdump=m
CONFIG_PACKAGE_luci-app-turboacc=m
# CONFIG_PACKAGE_luci-app-unblockmusic=m
# CONFIG_PACKAGE_luci-app-usb-printer=m
# CONFIG_PACKAGE_luci-app-uugamebooster=m
# CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-vsftpd=m
# CONFIG_PACKAGE_luci-app-wrtbwmon=m
# CONFIG_PACKAGE_luci-app-xlnetacc=m
# CONFIG_PACKAGE_luci-app-zerotier=y
