# 3. luci
# Web
# https for uhttpd
# CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-ssl=y

# nginx for luci
CONFIG_PACKAGE_luci-nginx=m
CONFIG_PACKAGE_luci-ssl-nginx=m
CONFIG_PACKAGE_nginx-all-module=m

# nginx
CONFIG_NGINX_DAV=y
CONFIG_NGINX_HTTP_V2=y

# Luci Applications
# CONFIG_PACKAGE_luci-app-accesscontrol=m
# CONFIG_PACKAGE_luci-app-adbyby-plus=m
# CONFIG_PACKAGE_luci-app-advanced-reboot=m
CONFIG_PACKAGE_luci-app-aria2=m
# CONFIG_PACKAGE_luci-app-arpbind=m
# CONFIG_PACKAGE_luci-app-autoreboot=m
# CONFIG_PACKAGE_luci-app-baidupcs-web=m
CONFIG_PACKAGE_luci-app-cpufreq=m
# CONFIG_PACKAGE_luci-app-ddns=m
# CONFIG_PACKAGE_luci-app-docker=m
# CONFIG_PACKAGE_luci-app-filetransfer=m
CONFIG_PACKAGE_luci-app-guest-wifi=m
CONFIG_PACKAGE_luci-app-hd-idle=m
# CONFIG_PACKAGE_luci-app-kodexplorer=m
# CONFIG_PACKAGE_luci-app-meshwizard=m
CONFIG_PACKAGE_luci-app-minidlna=m
# CONFIG_PACKAGE_luci-app-mwan3=m
# CONFIG_PACKAGE_luci-app-nlbwmon=m
CONFIG_PACKAGE_luci-app-openclash=m
# CONFIG_PACKAGE_luci-app-pptp-server=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
# CONFIG_PACKAGE_luci-app-qos=m
# CONFIG_PACKAGE_luci-app-ramfree=m
CONFIG_PACKAGE_luci-app-smartdns=m
# CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-travelmate=m
CONFIG_PACKAGE_luci-app-turboacc=m
# CONFIG_PACKAGE_luci-app-uhttpd=m
# CONFIG_PACKAGE_luci-app-unblockmusic=m
# CONFIG_PACKAGE_luci-app-unbound=m
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-vsftpd=m
# CONFIG_PACKAGE_luci-app-watchcat=m
# CONFIG_PACKAGE_luci-app-webadmin=m
# CONFIG_PACKAGE_luci-app-wifischedule=m
# CONFIG_PACKAGE_luci-app-wol=m
# CONFIG_PACKAGE_luci-app-wrtbwmon=m
