CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_samba4-admin=m
CONFIG_PACKAGE_samba4-client=m
CONFIG_PACKAGE_samba4-utils=m

CONFIG_PACKAGE_luci-app-cifsd=m

CONFIG_PACKAGE_luci-app-ksmbd=m
CONFIG_PACKAGE_ksmbd-avahi-service=m
CONFIG_PACKAGE_ksmbd-utils=m

# samba4
CONFIG_SAMBA4_SERVER_ACL=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_QUOTAS=y
CONFIG_SAMBA4_SERVER_VFS=y

